// 彩色边框
.color-border{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    font-size: 12px;
    transform:scale(0.9);
    border-image:linear-gradient(
        265.13deg,
        #a392e8 -6.01%,
        #f17e99 33.34%,
        #f0933d 48.66%,
        #96be2a 64.54%,
        #5acba2 83.26%,
    )
    20%;
    border-style: solid;
}
// 文字描边
.text-stroke{
    background: linear-gradient(to right,#F4F345,#CF2E5B, #911090);
    height:90px;
    width: 100%;
    text-align: center;
    line-height: 90px;
    font-size: 50px;
    color:transparent;
    /* 文字阴影方式 */
    &.shadow{
        text-shadow:
            0 2px #fff,
            0 -2px #fff,
            -2px 2px #fff,
            2px 2px #fff,
            2px -2px #fff,
            2px 0 #fff;
    }
    /* 非标准属性，webkit内核提供 */
    &.stroke{
        -webkit-text-stroke:2px #fff;
    }
    :hover{

    }
}

// 渐变色相关
.gradient-color{
    position:relative;
    // 渐变色背景
    .bg {
        width: 100px;
        height: 100px;
        background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5))
    }
    // 渐变色直角边框
    .border {
        width: 100px;
        height: 100px;
        border-width: 10px;
        border-style: solid;
        border-image-source: linear-gradient(0deg, rgb(25, 25, 209) 0%, rgb(255, 0, 220) 97.9381%);
        border-image-slice: 10;
    }
    // 渐变色圆角边框
    .radio{
        position:relative;
        width: 200px;
        height: 200px;
        .box {
            position: absolute;
            inset: 0;
            width: 200px;
            height: 200px;
        }
        .box::before {
            content: "";
            position: absolute;
            inset: 0;
    
            background:linear-gradient(45deg,red,blue); 
            -webkit-mask-image: 
                linear-gradient(#fff 0 0), 
                linear-gradient(#fff 0 0);
            -webkit-mask-clip: 
                content-box,
                border-box;
            -webkit-mask-composite: xor;
                    mask-composite: exclude; 
            padding: 10px; 
            border-radius: 50px;
        }
    }
    // 渐变色虚线边框
    .dashed{
        position:relative;
        width: 200px;
        height: 200px;
        .box {
            position: absolute;
            inset: 0;
            width: 200px;
            height: 200px;
        }
        .box::before {
            content: "";
            position: absolute;
            inset: 0;
    
            background: linear-gradient(45deg, gold, purple, cyan, deeppink);
            mask: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='57' ry='57' stroke='black' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
            border-radius: 57px;
        }

    }
    .font,.filter,.ellipsis{
        background: linear-gradient(to right,#F4F345,#CF2E5B, #911090);
        height:90px;
        width: 100%;
        text-align: center;
        line-height: 90px;
        font-size: 50px;
        // color:transparent;
    }
    // 渐变色文字
    .font{
        .text {
            color: transparent;
            background-image: linear-gradient(45deg, gold, purple, cyan, deeppink);
            -webkit-background-clip: text;
                    background-clip: text;
        }
    }
    // 带阴影的渐变色文字
    .filter{
        .text {
            color: transparent;
            background-image: linear-gradient(45deg, gold, purple, cyan, deeppink);
            -webkit-background-clip: text;
                    background-clip: text;
            filter: drop-shadow(#0ff 10px 10px 5px);
        }
    }
    // 省略号代替超出文本框的渐变色文字
    .ellipsis{
        .text {
            width: 100%;
            color: transparent;
            background-image: radial-gradient(rgb(44, 234, 218) 15.4639%, rgb(0, 59, 255) 99.4845%);
            -webkit-background-clip: text;
            display: -webkit-box; 
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
    }
}