<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>前端项目demo总纲</title>
	<link rel="stylesheet" type="text/css" href="./static/css/index.css">
	<script src="./static/js/vue.global.js"></script>
</head>
<body>
	<div id="app">
		<div class="left" v-if="isShow">
			<button class="close-btn" @click="closeBtn(false)">关闭</button>
			<ul>
				<li v-for="item in demoList" ><button @click="toPage(item.path, item.type)">{{item.title}}</button></li>
			</ul>
		</div>
		<div class="right">
			<div class="btn-box">
				<button v-if="!isShow" class="menu-btn" @click="closeBtn(true)">目录</button>
				<button class="refresh-btn" @click="refresh">刷新</button>
			</div>
			<iframe ref="iframe" name="myiframe" :src="pagePath" @load="onIframeLoad"></iframe>
		</div>
	</div>
	
</body>
<script type="text/javascript" src="./json.js"></script>
<script type="text/javascript">
	const { createApp, ref } = Vue
  	createApp({
	    setup() {
			demoList = ref(demoList)
			const iframe = ref(null);
			let pagePath = ref('')
			let isShow = ref(true)
			
			const toPage = (path, type = false) => {
				if(type === 'md'){
					pagePath.value = './md/index.html?name=' + path
				} else {
					pagePath.value = './module/' + path + '/index.html'
				}
			}
			const closeBtn = (status = false) => {
			    isShow.value = status
			}
			const onIframeLoad = () => {
			}
			const refresh = () => {
				iframe.value.contentWindow.location.reload()
			}
			return {
				demoList,
				iframe,
				pagePath,
				isShow,
				onIframeLoad,
				toPage,
				closeBtn,
				refresh
			}
	    },
		mounted() {
			// this.onIframeLoad()
		}
  	}).mount('#app')

</script>
</html>