#app{
display: flex;
}
.left{
width:20vw;
height:98vh;
overflow: scroll;
overflow-x: hidden;
}
.right{
width:78vw;
}
iframe{
width:100%;
height:98vh;
}
ul{
list-style-type: none;
margin: 20px;
}
button{
margin: 2px 15px;
}
*{
padding: 0;
margin: 0;
}