<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
    <script src="../../static/js/vue.global.js"></script>
    <script src="../../static/js/index.js"></script>
    <script type="text/javascript" src="./json.js"></script>
</head>

<body>
<div id="app">
    <div class="menu-box">
        <a :href="'#' + item.tag" v-for="item in modulesList" >{{item.title}}</a>
    </div>
    <div v-for="item in modulesList" class="content-box">
        <a :name="item.tag"><h3>{{item.title}}</h3></a>
        <iframe :src="item.path.includes('/') ? './modules/' + item.path + '.html' : './modules/' + item.path + '/index.html'" scrolling="no" onload="iframe_onload()"></iframe>
        <hr>
    </div>
</div>
</body>
<script type="text/javascript">
	const { createApp, ref } = Vue
  	createApp({
	    setup() {
			modulesList = ref(modulesList)
			return {
				modulesList,
			}
	    },
		mounted() {
			// this.onIframeLoad()
		}
  	}).mount('#app')

</script>
</html>